* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: #f6f6f6;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cl {
  clear: both;
}
.disable {
  display: none;
}
.pf_content {
  position: relative;
  float: right;
  width: calc(100% - 450px);
  height: 100vh;
  top: 0;
  right: 0;
}

.pf_description {
  width: 450px;
  height: 100vh;
  padding: 50px 15px;
  position: fixed;
  background-color: #ffffff;
  color: #000000;
}
.pf_description > a {
  display: block;
  width: 42px;
  height: 42px;
  padding: 0 12.5px;
}
.pf_description .content_outline_up {
  width: 250px;
  position: absolute;
  top: 45px;
  left: 80px;
}
.pf_description .content_outline_up p:not(:last-child) {
  font-size: 1.1rem;
  font-weight: bold;
}
.pf_description .content_outline_up p:not(:first-child) {
  margin-bottom: 5px;
}
.pf_description .content_outline_up p:last-child {
  font-size: 0.8rem;
}

.pf_description .content_outline_down {
  width: 250px;
  position: absolute;
  bottom: 120px;
  left: 80px;
}

.pf_description .content_outline_down img {
  opacity: 0.2;
  filter: grayscale(1);
  transition: all 0.5s;
  margin-bottom: 5px;
}
.pf_description .content_outline_down img:hover {
  opacity: 1;
  filter: grayscale(0);
}
.pf_description .content_outline_down p:nth-of-type(2) {
  margin-bottom: 15px;
}
.pf_description .content_outline_down span {
  display: block;
  width: 280px;
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 55px;

  -ms-overflow-style: none;
}
iframe::-webkit-scrollbar {
  display: none;
}

#code_logo {
  margin-bottom: -3px;
}
